
p1{
    float: right;
    margin-top: 24px;
    font-size:  22px;
    color: #fff;
    margin-right: 20px;
}


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul{
    list-style: none;
    overflow: hidden;
    background:teal;
    margin: 0;
   
}
.menu{
    float: left;

}
li a{
    text-decoration: none;
    display: block;
    padding: 25px;
    color: #fff;
    font-size: 20px;
}
li a:hover{
    background:#0091ea;
}
.sub-menu{
    display:none;
    position: absolute;
    background:teal;
   
    
}
ul li:hover .sub-menu{
    display: block;
}
.sub{
    padding: 0;
    margin: 10px;
   
}
img{
    float: right;
    margin-top: 8px;
}
h4{
    float: right;
    margin-right: 35px;
    color:white;
    font-size: 19px;
}

/*list rul*/
.list-rule ul{
    background:none;
    font-size: 20px;
    margin-left: -80px

}

/* List-computer*/

.list-computer ul{
    background: none;
    font-size: 20px;
}

.head-title{
    border-bottom: 2px solid #4db6ac;
    margin: 30px;
    padding-bottom: 9px;
    margin-top: 70px;
}
span{
    background:#4db6ac;
    padding: 10px;
    color: #fff;
}
p{
    font-size: 25px;
    margin: 30px;
}
.container{
    width: 99%;
    margin: 0 auto;
    margin-left: 25px;
}
.row{
    display: flex;
}
.col-6{
    width: 45%;
    padding-left:30px;
}
.col-6:nth-child(2){
    background-image: url(../imgs/pic2.jpg);
    background-size: cover;
    background-position: 100px;
    background-repeat: no-repeat;
}
.container-a{
    width: 99%;
    margin: 0 auto;
    margin-left: 25px;
}
.row-a{
    display: flex;
}
.col-6a{
    width: 45%;
    padding-left:30px;
}
.col-6a:nth-child(2){
    background-image: url(../imgs/kobo.png);
    background-size: cover;
}

/*footer*/

.container-footer{
    width: 100%;
    height: 200px;
    background: teal;
}
.footer{
   display: flex;
   margin-top: 100px;
}
.col-4footer{
    width: 33%;
    text-align: center;
}
h5{
    margin-top: 80px;
    color:#ccc;
    font-size: 20px;
}
.col-4footer:nth-child(3) img{
    width: 85px;
    height: 85px;
    margin-right: 200px;
    margin-top: 20px;
}
h6{
    margin-top: 90px;
    font-size: 15px;
    color:white;
}
.h6{
    width: 60%;
    margin-left: 70px;
}
.col-4footer:nth-child(1) img{
    width: 100px;
    height: 35px;
    padding: 5px;
    margin-top: 10px;

  
}
.col-6a{
    width: 50%;
    margin-top: 40px;
    margin-left: 80px;
}